@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing:  border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 350px;
  position: relative;
  margin-bottom: 30px;
}

.progress {
  background-color: #0099cc;
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  z-index: -1;
  transform: translateY(-50%);
  transition: 0.4s ease-in;
}

.progress-container::before {
  content: '';
  background-color: #cccccc;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  z-index: -1;
  transform: translateY(-50%)
}

.circle {
  background-color: white;
  border: 2px solid #cccccc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.circle.active {
  border-color: #0099cc;
  transition: 0.4s ease-in;
}


.btn {
  background-color: #0099cc;
  color: white;
  padding: 8px 25px;
  border-radius: 6px;
  border-style: none;
  outline: none;
  cursor: pointer;
}

.btn:disabled {
  cursor: auto;
  background-color: #cccccc;
}